body {
    background: #b5e6cf;
    /*background-image: radial-gradient(at top, #b5e6cf, #9dddad);*/
    /*background-image: url(harowa.png);*/
    background-size: initial;
    font-family: Avenir, Yu Gothic,YuGothic,Hiragino Kaku Gothic ProN,Meiryo,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    width: 800px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    text-size-adjust: 300%;
    font-size: x-large;

}
h2{
    height: 4em;
    display: grid;
    align-items: center;
    justify-content: center ;
    /*width : 80%;*/
    margin: 30px;
    padding: 30px;
}
.survey{
    padding-top: 10px;
    padding-left: 10px;
}
.discriptions{
    color: #3c3939;
    font-weight: bold;

}


form .formbottom {
    text-align: center;
    margin: 20px;
} 
form .btns{
    display: inline-block;
    vertical-align: middle;
    margin: 30px;
    padding: 20px 30px;
    color: #2fb5d1;
    font-weight: bold;
    font-size: 125%;
    letter-spacing: 0.5pt;
    text-decoration: none;
    background-color: #ffffff;
    /*border: 1px solid #F15A24;*/
    border: 2px solid #2fb5d1;
    cursor: pointer;
    transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
    width: 300px;
} 
form .btns:hover{
    color: #ffffff;
    background-color: #008583;
}

input[type="email" i] {
    padding: 20px 30px;
}

input[type="text" i] {
    padding: 20px 30px;
}
input[type="radio"] {
    height:45px;
    width:45px;
}
input[type="checkbox"] {
    height:45px;
    width:45px;
}
select{
    padding: 20px 30px;
    width: -webkit-fill-available;
}
.question{
    width: 90%;
    font-size: 200%;
    border: 2px solid #2fb5d1;
}

.items{
    margin: 11px 10px 19px 10px;    
    vertical-align: middle;

}
.reviewbtn{
    text-align: center;
    margin: 20px;   
}
.jumpbtn{
    font-size:x-large;
    font-size: 125%;
    height:200px;
    width:500px;
    display: inline-block;
    vertical-align: middle;
    margin: 30px;
    padding: 20px 30px;
    color: 0F1111;
    background-color: #ffa41c;
    border: 1px solid #FF8F00;
}
.feedback{
    margin: 30px;
    font-weight: bold;
}


